.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #9a1698d2;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #ce0f0f;
    font-size: 8rem;
    color: #000e0a;
}

p {
    font-size: 2rem;
    color: #0b7bc5;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #b40f0f;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
